<div class="container">
    <div *ngIf="(basket$ | async) === null || (basket$ | async).items.length === 0">
        <p>There are no items in your basket</p>
    </div>
    
    <div *ngIf="(basket$ | async) && (basket$ | async).items.length > 0">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                    <app-basket-summary 
                        (decrement)="decrementItemQuantity($event)"
                        (increment)="incrementItemQuantity($event)"
                        (remove)="removeBasketItem($event)"
                        ></app-basket-summary>
                    </div><!-- end of parent div of table table responsive -->
                </div><!-- end of row -->

                <div class="row">
                    <div class="col-6 offset-6">
                        <app-order-total></app-order-total>
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div><!-- end of container -->
        </div>
    </div><!-- end of *ngIf div -->
</div>